
html {
        --global-bg-color: #fff;
        --global-text-color: #000;
        --global-theme-color: #B509AC;
        --global-hover-color: #B509AC;
        --global-code-bg-color: rgba(181, 9, 172, 0.05);
        --global-divider-color: rgba(0, 0, 0, .1);
        --global-card-bg-color: #fff;
        --global-footer-bg-color: #1C1C1D;
        --global-text-color-light: #828282;
        --global-footer-text-color: #e8e8e8;
        --global-footer-link-color: #fff;
        --global-distill-app-color: #828282;
}


@media (min-width: 576px) {
    .navbar.navbar-light .navbar-brand.social {
        font-size: 1.7rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar.navbar-light .navbar-brand.social a i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
    }

    .navbar.navbar-light .navbar-brand.social a:hover i::before {
        color: var(--global-theme-color);
    }

    .navbar-toggler .icon-bar {
        width: 22px;
        height: 2px;
        display: block;
        transition: all 0.2s;
        border-radius: 1px;
        margin-bottom: 4px;
        background-color: var(--global-text-color);
    }

    .social {
        text-align: center;
    }

    .social .contact-icons {
        font-size: 4rem;
    }

    .social .contact-icons a i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
    }

    .social .contact-icons a:hover i::before {
        color: var(--global-theme-color);
    }

    .social .contact-note {
        font-size: 0.8rem;
    }

    footer.fixed-bottom {
        font-size: 0.75rem;
        background-color: var(--global-footer-bg-color);
    }

    footer.fixed-bottom .container {
        color: var(--global-footer-text-color);
        padding-top: 9px;
        padding-bottom: 8px;
    }

    footer.fixed-bottom a {
        color: var(--global-footer-link-color);
    }

    footer.fixed-bottom a:hover {
        color: var(--global-theme-color);
        text-decoration: none;
    }

    footer.sticky-bottom {
        font-size: 0.9rem;
        border-top: 1px solid var(--global-divider-color);
        padding-top: 40px;
        padding-bottom: 40px;
    }
}





  